*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #E4C59E;
    color: #322C2B;
    height: 5rem;
    line-height: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #803D3B;
    opacity: .5;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 5rem;
}
#user-score,
#comp-score{
font-size:40px ;
}
.msg-container{
    margin-top: 45px;
}
.msg{
    background-color: #E4C59E;
    color: #322C2B;
   font-size: 20px;
    padding: 5px;
    border-radius: 10px;
   display: inline;
}